<main id="main">
    <div class="container-md mb-4 ">
        <h2 class="text-center mt-4 border-bottom pb-2">About Atharva AI</h2>
        <p class="fs-6">Atharva AI is a pioneering IT company, specializing in delivering AI-powered solutions to businesses. Our primary offerings include advanced chatbots and voice-to-text translation services. Our chatbots, equipped with natural language processing, provide human-like interactions, enhancing customer service and engagement. The voice-to-text translation services, powered by state-of-the-art speech recognition algorithms, offer accurate transcriptions and translations, breaking down language barriers. At Atharva AI, we are committed to harnessing the power of AI to streamline operations, improve customer experiences, and drive business growth. Our team of experienced AI professionals works closely with clients to deliver tailored solutions that meet their unique needs.</p>
    </div>
    <div class="container-md mb-4">
        <h2 class="text-center mt-4 border-bottom pb-2 mb-4">Our Services</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card h-40">
                    <img src="/static/chatbot.png" class="card-img-top" alt="Chatbot">
                    <div class="card-body">
                        <h5 class="card-title">Chatbots</h5>
                        <p class="card-text">Our chatbots are designed to provide human-like interactions, enhancing customer service and engagement. Equipped with natural language processing, they can understand and respond to user queries effectively.</p>   
                        <a href="" class="btn btn-outline-dark"> Try Le Chat</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-40">
                    <img src="/static/voice-text.png" class="card-img-top" alt="Voice-to-Text">
                    <div class="card-body">
                        <h5 class="card-title
                        ">Voice-to-Text Translation</h5>
                        <p class="card-text">Our voice-to-text translation services leverage state-of-the-art speech recognition algorithms to provide accurate transcriptions and translations. They help break down language barriers and facilitate seamless communication.</p>
                        <a href="" class="btn btn-outline-dark"> Try Le Voice</a>
                    </div>
                </div>
            </div>
        </div>
</main>